<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>Encrypté</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Crypto</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="padding">
      <!-- Input pour fichier à  decrypter -->
      <form #form="ngForm" (ngSubmit)="crypte(form)">
        <!-- <ion-item>
          <ion-label>Crypter</ion-label>
          <ion-input name="entrer" type="file" color="light" ngModel required></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label >Votre messages : </ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea   name="msg"  placeholder="Veuillez entrer votre text..." ngModel required ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label  >Clé : </ion-label>
          <ion-input  name="key" placeholder="Votre clé sercet" ngModel required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-button color="danger" class="ion-text-center" expand="block" shape="round" fill="outline"  style="font-size: 0.8em;text-transform: none;" type="submit">
            Crypter !
          </ion-button>
        </ion-item>
      </form>
      <ion-item>
          <ion-label>Resultat : </ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea   value="{{ encryptedData }}"></ion-textarea>
    </ion-item>
    </div>
</ion-content>
