
<ion-content color="default" padding>
  <ion-item lines="none">
      <ion-label color="light" class="ion-text-center">Bienvenue dans Crypto!</ion-label>
  </ion-item>
  <div class="padding">
    <ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" type="ngSubmit" (click)="versEncrypt()">
      Encrypter
      <!--   <ion-icon name="log-in" slot="start" color="light"></ion-icon> -->
    </ion-button>
    <br><br>
    <ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" type="ngSubmit" (click)="versDescrypt()">
      Descypter
      <!--   <ion-icon name="log-in" slot="start" color="light"></ion-icon> -->
    </ion-button>
  </div>
</ion-content>